.primary-btn {
    display: inline-block;
    padding: 17px 32px;
    background-color: var(--btn-primary-bg-color);
    white-space: nowrap;
    cursor: pointer;
    transition: all .3s ease-in-out;

    @media screen and (max-width: 374px) {
        padding: 17px 18px;
    }

    a {
        color: var(--white-color);
        text-decoration: none;
        font-family: 'Work Sans', serif;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.2px;
    }

    &:hover {
        background-color: var(--svg-header-color);
    }
}

.secondary-btn {
    padding: 11px 25px;
    cursor: pointer;
    background-color: transparent;
    display: inline-flex;
    gap: 10px;
    align-items: center;
    border: 2px solid var(--white-color);
    color: var(--white-color);
    font-family: 'Work Sans', serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: 1.2px;
    transition: all .3s ease-in-out;

    @media screen and (max-width: 374px) {
        padding: 11px 12px;
    }

    svg {
        width: 26px;
    }

    &:hover {
        background-color: var(--white-color);
        color: black;
    }
}
