.customer-review {
    margin-bottom: 5%;
}

.customer-review__video {
    aspect-ratio: 17/9;
    width: 100%;
    height: 100%;
}

.checked {
    color: var(--customer-review-rating-color);
}

.customer-review__carousel {
    background-image: url('../img/pattern.jpeg');
    background-size: contain;
    background-repeat: repeat-x;
    background-color: var(--customer-review-bg-color);
    background-blend-mode: soft-light;
    display: flex;
    gap: 25px;
    padding: 60px;

    @media (max-width: 480px) {
        padding: 80px 10px;
        gap: 20px;
    }
}

.customer-review__slides {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.customer-review__carousel-item {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;

    p {
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        line-height: 25.5px;
        font-weight: 300;
        color: var(--customer-review-text-color);
        text-align: center;

        @media (max-width: 480px) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    .fa {
        font-size: 10px;
        width: 5px;
    }

    .customer-review__carousel-name {
        font-family: 'Inter', sans-serif;
        font-size: 17px;
        font-weight: 600;

        @media (max-width: 480px) {
            font-size: 14px;
        }
    }

}

.customer-review__carousel-prevbtn,
.customer-review__carousel-nextbtn {
    display: inline-block;
    cursor: pointer;
    background: transparent;
    border: none;
    fill: var(--customer-review-text-color);
}

.customer-review__carousel-prevbtn:hover,
.customer-review__carousel-nextbtn:hover {
    fill: var(--customer-review-chevron-hover);
}

.customer-review__arrow-left,
.customer-review__arrow-right {
    width: 30px;
    height: 30px;

    @media (max-width: 480px) {
        width: 15px;
        height: 15px;
    }
}
